*{
    margin: 0;
    padding: 0;
    font-family: Noto Sans;

}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.header_wraper{
    display: flex;
}
.logo{
    background-color: #868585;
}
.mobile_btn{
    display: none;
}
.nav_toggle::before{
    content:'МЕНЮ';
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}
.link{
   
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    

}
.main{
    background-image: url(../images/fon.jpg);
    width: 100%;
    height: 900px;
    background-position: center center;
}

.main_text{
    
    font-size: 24px;
    line-height: 24.52px;
    color: #ffffff;
    text-align: center;
    padding-top:60px;
}
.main_title{
    
    font-size: 60px;
    font-style: bold;
    font-weight: 700px;
    line-height: 87.17px;
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
}
.main_subtitle{
    
    font-size: 42px;
    font-weight: 400px;
    line-height: 57.2px;
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
}
.btn{
    margin-left: 450px;
    margin-top: 150px;
    height: 80px;
    width: 380px;
   border-radius: 10px;
   cursor: pointer;
   border-color: #5199bf;
    background-color: rgb(21, 124, 124);
   
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}
.servises{
    display: flex;
}
.servises_content{
    width: 510px ;
    height: 1119px;
    padding-right: 50px;
}
.servises_image{
    padding-top: 150px;
}
.servises_title{
   
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700px;
    color:  #868585;
    margin-top: 50px;
}
.servises_text{
    
    font-size:18px;
    font-weight: 700px;
   
    margin-top: 50px;
}
.servises_subtitle{
    font-size: 14px;
    margin-top: 20px;
    line-height: 19.07px;
}
.green_title{
    font-size: 24px;
    font-weight: 700px;
    text-align: center;
    font-style:bold;
    color:  #868585;
    padding-top: 50px;
}
.green_text{
    width: 235px;
    height: 114px;
    font-size: 14px;
    line-height: 19.07px;
}
.green_blocks{
display: flex;
}
.green_block_1{
    display: flex;
    padding-top: 100px;
    padding-right: 90px;
}
.img_green_1{
    height: 200px;
    width: 235px;
    
    padding-right: 40px;
}
.green_text_text{
    font-size: 18px;
    font-style: bold;
    line-height: 24.52px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.info{
    background-image: url(../images/fon2.jpg);
    background-position: center center;
    height: 500px;
    margin-top: 50px;
}

.info_text{
    width: 673px;
    height: 228px;
    font-size: 48px;
    color: #ffffff;
   
    line-height: 57.2px;
   padding-top: 128px;
   padding-left: 380px;
}
.five_steps{
display: flex;
}
.five_steps_1{
    height: 730px;
    width: 510px;
    padding-right:200px ;
    padding-top: 50px;
}
.five_steps_title{
    font-size: 24px;
    color:  #868585;
    line-height: 32.69px;
    padding-top: 20px;
    
}
.number{
    font-size: 14px;
    color:  #868585;
    padding-top: 20px;
}
.five_title{
    font-size: 18px;
    padding-top: 10px;
}
.five_text{
    font-size: 14px;
    line-height: 19.07px;
    padding-top: 10px;
}
.five_steps_2{
    padding-top: 110px;
}
.contacts_wraper{
    background-image: url(../images/fon3.jpg);
    background-position: center center;
    height: 730px;
}
.contacts{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
}
.contacts_info{
    font-size: 18px;
    color: #ffffff;
    padding-top: 60px;
}
.contacts_footer{
    display: flex;
    padding-top: 170px;
    
}
.contacts_text{
    font-size: 14px;
    color: #ffffff;
    padding-right: 300px;
    
}
